language: python
dist: xenial

before_install:
  - sudo add-apt-repository "deb https://cloud.r-project.org/bin/linux/ubuntu xenial-cran35/"
  - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E298A3A825C0D65DFD57CBB651716619E084DAB9
  - sudo apt-get update
  - sudo apt-get install -y r-base
  - sudo R CMD INSTALL mlds/CRAN/MLDS_0.4.1.tar.gz
  - sudo R CMD INSTALL mlds/CRAN/psyphy_0.1-9.tar.gz


# command to install dependencies
install:
  - pip3 install numpy
  - pip3 install scipy
  - pip3 install rpy2
  - pip3 install pandas

# command to run tests
script: 
  - cd mlds/test
  - python3 -m "nose"
